.first-main2{
    background:gainsboro;
    width: 100%;
    height: 20px;
}
#main{
    background:gainsboro;
    width: 100%;
    margin: auto;
}
.first-main1{
    width: 1200px;
    margin: 0 auto;
    background:white;
    text-align: center;
    box-sizing: border-box;
    font-size:18px;
    margin-bottom:40px;
    overflow: hidden;

    >.p-1{
        display: inline-block;
        width: 150px;
        margin: 0 auto;
        height: 30px;
        line-height: 30px;
        background:red;
        color: white;
        padding: 10px;
    }
}
.first-main1-box{
    width: 120px;
    height: 120px;
    margin: auto;
    background: gainsboro;
    border-radius: 50%;
    margin-bottom: 20px;

    >span{
        display: inline-block;
        font-size: 45px;
        line-height: 120px;
    }
}
h2{
    margin-bottom: 20px;
}

.second-main1{
    width: 1200px;
    height: 290px;
    margin: 0 auto;
    background: white;

    >.second-main1-box{
        width: 1200px;
        height: 290px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        >.prev3{
            display: block;
            position: absolute;
            top: 35%;
            width: 50px;
            height: 50px;
            font-size:40px ;
            font-weight: 100;
            cursor: pointer;
            z-index: 99999;
    
            &:hover{
                color: red;
            }
        }

        >.next3{
            display: block;
            position: absolute;
            top: 35%;
            right: 0px;
            height: 50px;
            font-size:40px ;
            font-weight: 100;
            cursor: pointer;
            z-index: 99999;
    
            &:hover{
                color: red;
            }
        }

        #box555{
            width:1200x;
            height: 290px;
            position: absolute;
            // left: 0;

            >a{
                display: block;
                float: left;
                width: 240px;
                height:290px;
                // margin: 0 6px;
                // background:red ;
                text-align: center;

                >div{
                    margin: 0 auto;
                    margin-top: 50px;
                    margin-bottom: 10px;
                    width:150px ;
                    height:150px;

                    >img{
                        width: 150px!important;
                        height: 150px!important;
                    }
                }

                p:nth-of-type(1){
                    margin-bottom:8px;
                }

                p{
                    color: black;
                }

            }
        }
    }
}

//
.box3{
    width: 100%;
    height: 50px;
    background: gainsboro ;
}
.itemlist>.item{
     margin: 12px;
     overflow: hidden;

     img{
         display: block;
         width: 100px;
         height: 100px;
     }
}

.itemlist>.item>div{
    float: left;
    margin: 10px;
}

#count11{
    margin-bottom:30px;
}

.p-box22{
    background: white;
}
.shanchu{
    text-align: center;
    line-height:48px;
    margin-left:20px;

    >a{
        display: inline-block;
        color: black;
        margin-left: 20px;
    }
}
.jiesuan{
    line-height: 48px;
    text-align: center;

    >a{
        display: inline-block;
        width: 100px;
        height:48px ;
        background:red ;
        color: black;
    }
}
.jisuan{
    margin-top: 5px;
    margin-right: 50px;

    >span>em{
        color: red;
    }

    >p>em{
        color: red;
    }
}
#count22{
    background: white;
    margin-bottom:20px;
    height:40px;

    input{
        margin-left: 20px;
    }

    span{
        display: inline-block;
        line-height: 40px;
        color: gainsboro;
    }
    span:nth-of-type(1){
        margin-right: 100px;
    }

    span:nth-of-type(2){
        margin-right:450px;
    }

    span:nth-of-type(3){
        margin-right: 80px;
    }
    span:nth-of-type(4){
        margin-right: 80px;
    }
    span:nth-of-type(5){
        margin-right: 80px;
    }
}

.p-num{
    float: left;
    margin-top: 10px;
    margin-left:40px!important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    >input{
        width: 20px;
        text-align: center;
        font-size: 18px;
    }
    >span{
        display: inline-block;
        font-size:18px;
        width: 15px;
        border-right: 1px solid black;
        border-left: 1px solid black;
        cursor: pointer;
    }
}
.p-price{
    margin-left:180px!important;
}
.p-sum{
    float: left;
    margin-top: 10px;
    margin-left:38px!important;
    color: red;
}
.p-del{
    float: left;
    margin-top: 10px;
    margin-left:55px!important;
}
.p-box{
    text-align: center;
    >input{
        float: left;
        margin-top:50px;

    }

    a{
        display: block;
        float: left;

        img{
            display:block;
            float: left;
            margin-left: 5px;
        }

        >span{
            display:block;
            float: left;
            margin-left: 30px;
            color: black;
        }
    }
}